html, body {
  height: 100%;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  width: 60%;
  height: 60%;
  margin: 40px auto 40px auto; 
  position: relative;      
}

#map-controls {
  position: absolute;
  bottom: 200px;
  left: 1180px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content; 
}

#search-results {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-results li {
  padding: 10px;
  cursor: pointer;
}

#search-results li:hover {
  background-color: #f1f1f1;
}

.options {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}
.postwurfsp-options {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}
.footer {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}