html, body {
  height: 100%;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  width: 60%;
  height: 60%;
  margin: 40px auto 40px auto; 
  position: relative; 
}

#map-controls {
  position: absolute;
  bottom: 50px;
  left: 880px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000; 
}
.options {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}
.postwurfsp-options {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}
.footer {
  display: flex;
  flex-direction: column; 
  text-align: left;
  max-width: fit-content;
}